<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNG_serial_class_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4858c">  <td>24/03/04 18:50:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_register_succesful.executor()[pri:0, instance:TestCase.post_register_succesful@2a7f1f10]">executor</td> 
  <td>main@1464191502</td>   <td></td> </tr>
<tr bgcolor="976fbc">  <td>24/03/04 18:50:07</td>   <td>-9528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_API.executor()[pri:0, instance:TestCase.Delete_API@45099dd3]">executor</td> 
  <td>main@1464191502</td>   <td></td> </tr>
<tr bgcolor="e1e270">  <td>24/03/04 18:50:13</td>   <td>-2882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_update.executor()[pri:0, instance:TestCase.Patch_update@2ddc9a9f]">executor</td> 
  <td>main@1464191502</td>   <td></td> </tr>
<tr bgcolor="e3bcd9">  <td>24/03/04 18:50:14</td>   <td>-2234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_create.executor()[pri:0, instance:TestCase.Post_create@298a5e20]">executor</td> 
  <td>main@1464191502</td>   <td></td> </tr>
<tr bgcolor="827a96">  <td>24/03/04 18:50:17</td>   <td>898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_update.executor()[pri:0, instance:TestCase.Put_update@46cdf8bd]">executor</td> 
  <td>main@1464191502</td>   <td></td> </tr>
<tr bgcolor="8dad64">  <td>24/03/04 18:50:10</td>   <td>-5863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_single_user.executor()[pri:0, instance:TestCase.Get_single_user@750e2b97]">executor</td> 
  <td>main@1464191502</td>   <td></td> </tr>
<tr bgcolor="e495ff">  <td>24/03/04 18:50:12</td>   <td>-3975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_user_list.executor()[pri:0, instance:TestCase.Get_user_list@2e385cce]">executor</td> 
  <td>main@1464191502</td>   <td></td> </tr>
</table>
