<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>package_runner_Suit</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d61fb">  <td>24/03/06 11:01:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_create2.executor()[pri:0, instance:TestNG_TestCase.Post_create2@77fbd92c]">executor</td> 
  <td>main@936292831</td>   <td></td> </tr>
<tr bgcolor="74c583">  <td>24/03/06 11:01:38</td>   <td>5101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_create3.executor()[pri:0, instance:TestNG_TestCase.Post_create3@6cf0e0ba]">executor</td> 
  <td>main@936292831</td>   <td></td> </tr>
</table>
