<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>serial_class_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/03/08 08:58:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_create3.executor()[pri:0, instance:TestNG_TestCase.Post_create3@2a693f59]">executor</td> 
  <td>main@177140066</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>24/03/08 08:58:44</td>   <td>5213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_create2.executor()[pri:0, instance:TestNG_TestCase.Post_create2@4a8355dd]">executor</td> 
  <td>main@177140066</td>   <td></td> </tr>
</table>
