<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNG_Annotation_Suit</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e94bf">  <td>24/03/06 11:05:19</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Annotation_dataprovider_same_class.evidencefilecreator()[pri:0, instance:Annotation_Testcase.Annotation_dataprovider_same_class@6adbc9d]">&lt;&lt;evidencefilecreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522553046</td>   <td></td> </tr>
<tr bgcolor="9e94bf">  <td>24/03/06 11:05:09</td>   <td>-9399</td> <td>&nbsp;</td><td title="&gt;&gt;Annotation_dataprovider_same_class.prerequisite_setup()[pri:0, instance:Annotation_Testcase.Annotation_dataprovider_same_class@6adbc9d]">&gt;&gt;prerequisite_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@522553046</td>   <td></td> </tr>
<tr bgcolor="9e94bf">  <td>24/03/06 11:05:18</td>   <td>-1028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Annotation_dataprovider_same_class.validator(java.lang.String,java.lang.String)[pri:0, instance:Annotation_Testcase.Annotation_dataprovider_same_class@6adbc9d]">validator</td> 
  <td>main@522553046</td>   <td></td> </tr>
<tr bgcolor="9e94bf">  <td>24/03/06 11:05:18</td>   <td>-1028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Annotation_dataprovider_same_class.validator(java.lang.String,java.lang.String)[pri:0, instance:Annotation_Testcase.Annotation_dataprovider_same_class@6adbc9d]">validator</td> 
  <td>main@522553046</td>   <td></td> </tr>
</table>
