<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>parallel_runner</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717375">  <td>24/03/08 09:08:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_create2.executor()[pri:0, instance:TestNG_TestCase.Post_create2@433defed]">executor</td> 
  <td>TestNG-tests-1@925973605</td>   <td></td> </tr>
<tr bgcolor="84a974">  <td>24/03/08 09:08:04</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_create3.executor()[pri:0, instance:TestNG_TestCase.Post_create3@50378a4]">executor</td> 
  <td>TestNG-tests-2@502848122</td>   <td></td> </tr>
</table>
